@font-face {
  font-family: 'Beckan';
  src: url('./assets/fonts/Beckan\ Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face { 

  font-family: 'Playfair-Display';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;

}

.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;

  text-align: center;
  align-items: center;
  user-select: none;
}

.backBtn {

  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  background:none;
  user-select: none;
  color: #ff9933;
  font-size: large;
  z-index: 10;
  cursor: pointer;
  font-family: 'Beckan';
  font-size: xx-large;
}

.Lp-logo-container {


  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  


}

@media (max-width: 768px) {
  .App-logo {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .App-logo {
    max-width: 200px;
  }
}

@media (max-width: 1920px) {
  .App-logo {
    max-width: 1024px;
  }
}




.App-logo {


  width: clamp( 320px, 80vw, 1024px);
  height: auto;
  cursor: pointer;

  user-select: none;        /* Prevent text selection */
  outline: none;            /* Remove blue outline on focus */
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #ff9933;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emailBadge {

  display: flex;
  padding: 1rem

}